@use "@/styles/mixins";

.wrapper {
  padding-bottom: 250px;

  @include mixins.mq(xl) {
    padding-bottom: 100px;
  }

  @include mixins.mq(md) {
    padding-bottom: 60px;
  }
}

.info {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 40px;
  align-items: center;

  margin: 64px 0 40px;

  @include mixins.mq(sm) {
    margin: 21px 0 13px;
  }
}

.subtitle {
  font-size: var(--fz-heading-1);
  font-weight: 500;
  line-height: var(--lh-heading-1);

  @include mixins.mq(lg) {
    font-size: var(--fz-heading-2);
    line-height: var(--lh-heading-2);
  }

  @include mixins.mq(md) {
    font-size: var(--fz-heading-5);
    line-height: var(--lh-heading-5);
  }
}

.more {
  font-size: var(--fz-heading-4);
  line-height: var(--fz-heading-4);
  color: var(--c-accent);
  text-align: right;

  @include mixins.mq(lg) {
    font-size: var(--fz-heading-5);
    line-height: var(--fz-heading-5);
  }

  @include mixins.mq(md) {
    font-size: var(--fz-body-medium);
    line-height: var(--fz-body-medium);
  }
}
