@use "@/styles/mixins";

.cart {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.icon {
  display: inline-block;

  @include mixins.size(21px);
}

.counter {
  position: absolute;
  top: -4px;
  right: -4px;
}
