@use "@/styles/mixins";

.wrapper {
  display: grid;
  grid-template-columns: auto 33px;
  gap: 10px;
  align-items: center;
}

.name {
  font-size: var(--fz-heading-5);
  line-height: var(--lh-heading-5);
}

.switcher {
  cursor: pointer;

  position: relative;
  z-index: 1;

  display: flex;

  width: 33px;
  height: 20px;

  span {
    position: relative;
    z-index: 1;

    width: 33px;
    height: 20px;
    border-radius: 40px;

    background: var(--c-grey-dark);

    &::before {
      @include mixins.pseudo;
      @include mixins.size(14px);

      z-index: 1;
      top: 3px;
      left: 3px;

      border-radius: 50%;

      background: var(--c-white);

      transition: transform 0.3s ease;
    }
  }

  input {
    cursor: pointer;

    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    appearance: none;
    opacity: 0;
  }

  input:checked + span::before {
    transform: translateX(13px);
  }
}
